<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yashoda FirstAid Center</title>
    <link type="text/css" rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<header>
    <nav>
        <div class="container">
            <ul class="menu">
                <li><img style="margin-right: 550px;"  src="{% static 'images/YFC.png' %}" alt="Yashoda FirstAid Center Logo" class="logo"></li>
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'services' %}">Services</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>

<section id="services">
    <h2>Our Services</h2>
    <div class="container">
        <div class="service">
            <img src="{% static 'images/services.jpg' %}" alt="First Aid Training" class="service-image">
            <div class="service-content">
                <h3>Home Services</h3>
                <p>At Yashoda first aid center, We prioritize your health and well-being. Our dedicated team of professionals is here to provide exceptional medical care tailored to your needs.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'images/home2.jpg' %}" alt="Emergency Care" class="service-image">
            <div class="service-content">
                <h3>Firstaid for any Minor & Major Injuries</h3>
                <p>We offer immediate and efficient emergency care services to handle critical situations with utmost care.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'images/home3.jpg' %}" alt="Medical Consultation" class="service-image">
            <div class="service-content">
                <h3>Medical Consultation</h3>
                <p>Consult our experienced medical professionals for personalized healthcare advice and treatment plans.</p>
            </div>
        </div>

        <div class="service">
            <img src="{% static 'images/home4.jpg' %}" alt="Health Checkups" class="service-image">
            <div class="service-content">
                <h3>Health Checkups</h3>
                <p>Regular health checkups to monitor and maintain your overall well-being and detect potential health issues early.</p>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="social-icons">
            <a href="#" class="icon"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="icon"><i class="fab fa-twitter"></i></a>
            <a href="#" class="icon"><i class="fab fa-instagram"></i></a>
            <a href="#" class="icon"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <p>&copy; 2024 Yashoda FirstAid Center. All rights reserved.</p>
    </div>
</footer>

</body>
</html>
